<h1 class="text-center">test assignment</h1>
<div class="d-xl-flex align-items-center mx-auto">
    <div class="col-xl-4 col-md-10 mx-auto">
        {{> graph}}
    </div>
    <div class="col-xl-8 col-md-10 mx-auto">
        {{> table }}
    </div>
</div>